.counter {
  max-width: 1075px;
  margin: auto;
  padding: 0 20px;
}

.counter p {
  font-size: 21px;
  margin-top: 20px;
  font-weight: 600;
  border-bottom: 4px solid #FF4560;
  line-height: 80px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {

  .counter {
    margin-top: -20px;
  }

  .counter p {
    font-size: 18px;
    font-weight: 400;
    border-bottom: 4px solid #FF4560;
    line-height: 50px;
  }

}
