.title {
  max-width: 1075px;
  margin: auto;
  color: #273044;
  font-weight: 600;
  margin-top: 77px;
  padding: 0 20px;
}

.title h1 {
  font-size: 55px;
  line-height: 69px;
}

.title p {
  font-size: 19px;
  max-width: 667px;
  line-height: 24px;
  font-weight: lighter;
  margin-top: 10px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {

  .title {
    margin-top: 24px;
  }

  .title h1 {
    font-size: 29px;
  }

}
